<manifest package="com.liulishuo.share"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application android:allowBackup="true">

        <!-- ============================= weibo ============================= -->

        <activity
            android:name=".activity.SL_WeiBoHandlerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />

        <!-- ============================= qq ============================= -->

        <activity
            android:name=".activity.SL_QQHandlerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!-- 腾讯sdk中增加的帮助activity对象，可以用来查看日志 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!-- 腾讯的认证activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这里需要换成:tencent+你的AppId -->
                <data android:scheme="${tencentAuthId}" />
            </intent-filter>
        </activity>

        <!-- ============================= 微信 ============================= -->

        <!-- 处理微信回调的Activity -->
        <activity
            android:name=".activity.SL_WeiXinHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:targetActivity="com.liulishuo.share.activity.SL_WeiXinHandlerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

    </application>

</manifest>
